### se ve realtime products
{{!-- aqui va el formulario para agregar productos usando los datos del ProductManager --}}

<div class="add-product">
    <form id="add-product-form">
        <input type="text" id="name" placeholder="Nombre">
        <input type="text" id="description" placeholder="Descripción">
        <input type="text" id="price" placeholder="Precio">
        <button type="submit">Agregar</button>
    </form>
</div>
{{!-- aqui va el formulario para eleiminar un producto por su id --}}

<div class="delete-product">
    <form id="delete-product-form">
        <input type="text" id="id" placeholder="Id del producto">
        <button type="submit">Eliminar</button>
    </form>
</div>
{{!-- aqui va el formulario para actualizar un producto por su id --}}

<div class="update-product">
    <form id="update-product-form">
        <input type="text" id="id" placeholder="Id del producto">
        <input type="text" id="name" placeholder="Nombre">
        <input type="text" id="description" placeholder="Descripción">
        <input type="text" id="price" placeholder="Precio">
        <button type="submit">Actualizar</button>
    </form>
</div>



{{!-- aqui van los productos en tiempo real --}}

<div class="products">
    {{#each products}}
        <div class="product">
            <h2>{{name}}</h2>
            <p>{{description}}</p>
            <p>{{price}}</p>
        </div>
    {{/each}}
</div>



<script src="socket.io/socket.io.js"></script>
<script src="../../public/js/realTimeProducts.js"></script>
```